<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ken Dudley's Web Site</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("IncludeHead", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Dudley's Web Site</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Blog">Blog</a></li>
                        <li><a class="nav-link text-light" href="https://www.youtube.com/user/dudley810" target="_blank">Videos</a></li>
                        <li><a class="nav-link text-light" asp-area="" asp-controller="ContactUs" asp-action="Index">Contact</a></li>
                    </ul>
                    <div class="nav navbar-nav navbar-right">
                        <b class="text-light">Follow Me on&nbsp;&nbsp;</b>
                        <a href="https://www.facebook.com/dudley810"><img src="~/images/facebook.png" width="32" height="32" /></a>
                        <a href="https://www.twitter.com/dudley810"><img src="~/images/twitter.jpg" width="32" height="32" /></a>
                        <a href="https://www.youtube.com/user/dudley810"><img src="~/images/youtube.jpg" width="32" height="32" /></a>
                        <a href="https://www.instagram.com/dudley810"><img src="~/images/instagram.png" width="32" height="32" /> </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Dudley's Web - <b>Follow Me On&nbsp&nbsp</b>
            <a href="https://www.facebook.com/dudley810"><img src="~/images/facebook.png" width="32" height="32" /></a>
            <a href="https://www.twitter.com/dudley810"><img src="~/images/twitter.jpg" width="32" height="32" /></a>
            <a href="https://www.youtube.com/user/dudley810"><img src="~/images/youtube.jpg" width="32" height="32" /></a>
            <a href="https://www.instagram.com/dudley810"><img src="~/images/instagram.png" width="32" height="32" /> </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
